h2, h3, h4 {
  font-family: 'Sniglet', Arial;
}

p, a, li {
  font-family: 'Roboto', san-serif;
}

/* Top Navigation Bar */
.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0C76B4;
  }

.topnav li {
   float: left;
}

.topnav li.right {
   float: right;
}

.topnav li.nofloat {
   float: none;
}

.topnav li a, .dropbtn {
  display: inline-block;
  color: white;
  font-family: 'Sniglet', cursive;
  font-size: 14pt;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

ul.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  padding: 0px;
  box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.2);
  z-index: 1;
}

ul.dropdown-content li a {
  float: none;
  color: black !important;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav .dropdown-content li a:hover {
  background-color: #ddd !important;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #444444;
}

/* Note Display */
ul.note {
    list-style-type: none;
    overflow: hidden;
    position: relative;
}

ul.note li {
    border: 2px solid #444444;
    border-left: 5px solid #0C76B4;
    padding: 5px;
    padding-bottom: 60px;
    margin: 10px;
    max-width: 500px;
    min-height: 80px;
    position: relative;
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.2);
}

.topic ul {
    list-style-type: none;
    list-style-position: inside;
    overflow: hidden;
    padding-left: 0px;
    height: 40px;
    position: absolute;
    bottom: 10px;
}

.topic ul li {
    border-style: none;
    box-shadow: none;
    border-radius: 5px;
    min-height: 10px;
    padding: 5px;
    margin: 5px;
    float: left;
    position: relative;
}

div.topic[id = "project_summary"] ul {
    position: relative;
    overflow: visible;
}

/* tag colors */
/* 1 - Blue */
.topic ul li[id = "1"] {
    background: #0C76B4;
}

.topic ul li[id = "1"]:hover {
    background: #2832C2;
}

/* 2 - Green */
.topic ul li[id = "2"]{
    background: #028A0F; /* "emerald" */
}

.topic ul li[id = "2"]:hover{
    background: #32612D; /* "basil" */
}

/* 3 - Red */
.topic ul li[id = "3"]{
    background: #A91B0D; /* "apple" */
}

.topic ul li[id = "3"]:hover{
    background: #900603; /* "ruby" */
}

/* 4 - Gold */
.topic ul li[id = "4"]{
    background: #CFB53B; /* "old gold */
}

.topic ul li[id = "4"]:hover{
    background: #D7BE69;
}

/* 5 - Orchid */
.topic ul li[id = "5"]{
    background: #d623cb;
}

.topic ul li[id = "5"]:hover{
    background: #c01fb6;
}

/* 6 - Aqua */
.topic ul li[id = "6"]{
    background: #5AC6AC;
}

.topic ul li[id = "6"]:hover{
    background: #89E2C7;
}

.topic ul li a {
    color: white;
    text-decoration: none;
}

ul.note .right {
    float: right;
    overflow: hidden;
}

/* color choices for topics form */
ul[id = "color"] {
    list-style-type: none;
    padding-left: 0px;
    display: inline-block;
}

ul[id = "color"] li {
    float: left;
    display: inline-block;
    text-align: center;
}

ul[id = "color"] li label {
    display: block;
    min-width: 50px;
    min-height: 20px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    color: white;
}

ul[id = "color"] li label[for="color-0"]{
    background: #0C76B4;
}

ul[id = "color"] li label[for="color-0"]:hover{
    background: #2832C2;
}

ul[id = "color"] li label[for="color-1"]{
    background: #028A0F; /* "emerald" */
}

ul[id = "color"] li label[for="color-1"]:hover{
    background: #32612D; /* "basil" */
}

ul[id = "color"] li label[for="color-2"]{
    background: #A91B0D; /* "apple" */
}

ul[id = "color"] li label[for="color-2"]:hover{
    background: #900603; /* "ruby" */
}

ul[id = "color"] li label[for="color-3"]{
    background: #CFB53B; /* "old gold */
}

ul[id = "color"] li label[for="color-3"]:hover{
    background: #D7BE69;
}

ul[id = "color"] li label[for="color-4"]{
    background: #d623cb;
}

ul[id = "color"] li label[for="color-4"]:hover{
    background: #c01fb6;
}

ul[id = "color"] li label[for="color-5"]{
    background: #5AC6AC;
}

ul[id = "color"] li label[for="color-5"]:hover{
    background: #89E2C7;
}