{% extends '_base.html' %}
{% block content %}
<div class="formwrapper">
    <h3>Edit Note:</h3>
    <form action = "" method = "post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.note.label }} <br>
            {{ form.note }} <br>
        </p>
        <p>
            {{ form.first_page.label}} <br>
            {{ form.first_page }} through {{ form.last_page }} <br>
        </p>
        <p>
            {{ form.topic.label }} <br>
            {{ form.topic }} <br>
        </p>
        <p>{{ form.submit }}</p>
    </form>
</div>

{% endblock %}